<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- is this the right place to add API call??? --}}
    <script src="https://api.meetup.com/find/upcoming_events?key=726f391116101c5b316166a3d4411e&zip=33130&category=34&radius=10&sign=true"></script> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
