/* .homePage {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#calendarTitle {
  font-size: 400px;
}

#techCalendar {
  margin-left: 8%;
}

h1 {
  text-align: center;
}

.commentsForm {
  float: right;
  
} */
